.container {
  background-color: #fff;
  border: 1px solid #eee;
  color: #222;
  display: grid;
  font-size: 20px;
  grid-gap: 0;
  grid-template-columns: 100px 1fr;
  grid-template-rows: auto;
  margin: 10px auto;
  max-width: 1200px;
}
.container li {
  list-style: none;
}
.table-body {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px 150px;
  overflow-x: scroll;
  width: calc(100vw - 100px);
}
.table-row {
  display: grid;
  grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
  grid-gap: 0;
}
.table-row-title {
  background-color: #04AA6D;
  color: #fff;
  font-size: 0.85em;
  font-weight: 800;
}
.table-row-title .item-cell {
  height: 30px;
  padding: 4px 8px;
}
.table-row:nth-child(2n) {
  background-color: #fafafa;
}
.item-cell {
  align-items: center;
  border: 1px solid #eee;
  display: flex;
  padding: 8px;
}
@media screen and (min-width: 760px) {
  .container {
    grid-template-columns: auto;
    grid-template-rows: 40px auto;
  }
  .table-body {
    grid-template-columns: auto;
    overflow: visible;
    width: 100%;
  }
  .table-row {
    grid-template-columns: 20px 50px 100px auto 100px 50px 50px 50px 50px 50px 120px;
    grid-template-rows: auto;
  }
  .item-cell:nth-child(1) {
    justify-content: center;
  }
  .item-cell:nth-child(5), .item-cell:nth-child(n+7) {
    justify-content: flex-end;
  }
}
