.data{
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
    color: black;
    justify-content: flex-end;
    border-radius: 20px;
    transition: box-shadow .3s;
    padding: 20px;
    margin: 30px 0 40px 0;
}

.empty-cart{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}
.green{
    background-color: green;
    color: white;
}

.grey{
    background-color: grey;
    color: white;
}

.red{
    background-color: red;
    color: white;
}

.blue{
    background-color: blue;
    color: white;
}

input[type=submit].blue{
    background-color: blue;
    color: white;
}
input[type=submit].red{
    background-color: red;
    color: white;
}
input[type=submit].grey{
    background-color: grey;
    color: white;
}
input[type=submit].green{
    background-color: green;
    color: white;
}

.modal-body{
    padding-top: 20px;
}