.lang-button{
    border-radius: 5px;
    max-width: 32px;
    max-height: 32px;
}

.language-container{
    border-radius: 5px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #555555;
    padding: 20px;
}

.slider-item-link{
    display: block;
    font-size: 18px;
    line-height: 16px;
    white-space: nowrap;
    color: #303030;
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    transition: all .3s ease;
    padding: 7px 15px;
}

* {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.lang-button  {
    background-color:#ff7e5a;
    transition: background-color 1s ease-out 100ms;
    border: none;
    color: white;
    padding: 10px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    max-height: 100px;
    max-width: 100px;
    margin: 0 0 2px 0;
}
.lang-button:hover{
    background-color: #ff898a;
    text-shadow: 0 0 2px white;
}

