/* Nulling */
*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}


ul[class],
ol[class] {
    list-style: none;
}


a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
}


article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* scroll style */
html {
    scroll-behavior: smooth;
}

* {
    scrollbar-width: auto;
    scrollbar-color: #04aa6d #f2f2f2;
}

*::-webkit-scrollbar {
    width: 11px;
}

*::-webkit-scrollbar-track {
    background: #f2f2f2;
}

*::-webkit-scrollbar-thumb {
    background-color: #04aa6d;
    border-radius: 10px;
    border: 3px none #ffffff;
}
/* navbar style */
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;

}

.navbar a {
    float: left;
    padding: 20px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #04AA6D;
}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #555;
    color: white;
    padding: 0px 0px;
    margin: 0px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgba(4, 170, 109, 0.86);
}

