/* Nulling */
*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}


ul[class],
ol[class] {
    list-style: none;
}


a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
}


article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* scroll style */
html {
    scroll-behavior: smooth;
}

* {
    scrollbar-width: auto;
    scrollbar-color: #04aa6d #f2f2f2;
}

*::-webkit-scrollbar {
    width: 11px;
}

*::-webkit-scrollbar-track {
    background: #f2f2f2;
}

*::-webkit-scrollbar-thumb {
    background-color: #04aa6d;
    border-radius: 10px;
    border: 3px none #ffffff;
}
/* category page */

* {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.container{

    max-width: 1200px;
    margin: auto;
    width: 50%;
    padding: 20px;
}
#result-table {
    border-radius: 5px;
    border-collapse: collapse;
    width: 100%;
}

#result-table td, #result-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#result-table td, #result-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#result-table tr:nth-child(even){background-color: #f2f2f2;}

#result-table tr:hover {background-color: #ddd;}

#result-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #04AA6D;
    color: white;
    padding: 14px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgba(4, 170, 109, 0.86);
}
.line{
    width: 98%;

    text-align: center;
}
hr {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    border-radius: 5px;
    border-top: 1px solid #A9A9A9FF;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
}

.wrapper{
    margin: 5px 10px;
}

