* {box-sizing:border-box}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}
.container{

    max-width: 1200px;
    margin: auto;
    width: 50%;
    padding: 20px;
}

.mySlides {
    display: none;
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.6);
}


.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover, .text:hover {
    background-color: rgba(0,0,0,0.8);
}


.text {
    transition: 0.6s ease;
    background-color: rgba(0,0,0,0.6);
    color: #f2f2f2;
    font-size: 25px;
    font-weight: bold;
    padding: 8px 12px;
    position: relative;
    width: 100%;
    text-align: center;
}

.numbertext {
    background-color: rgba(0,0,0,0.6);
    color: #f2f2f2;
    font-size: 25px;
    font-weight: bold;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    border-radius: 0 0 3px 0;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.product-data{
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.6);
    font-size: 25px;
    margin-top: 70px;
    padding: 10px 20px 10px 20px;
    background-color:#ff7e5a;
    transition: background-color 1s ease-out 100ms;
    color: white;
    font-weight: 400;
    border-radius: 20px;
}
.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.description{
    font-weight: 400;
    font-size: 20px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]:not(.language-container input[type=submit]) {
    width: 100%;
    background-color: #ff898a;
    text-shadow: 0 0 2px white;
    color: white;
    padding: 14px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 500ms;
}

input[type=submit]:hover:not(.language-container input[type=submit]) {
    background-color: #ff898a;
    text-shadow: 0 0 2px white;
}

.white{
    background-color: #555555;
}

.cart-trouble{
    margin: 30px 0;
    font-size: 30px;
    font-weight: 400;
    text-align: center
}

/* modal page */
.modal {
    display: none; /* Hidden by default */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
    margin: 40px 0 0 0;
    border-radius: 4px;
    padding: 20px 10px;
}


/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 5px 16px;
    background-color:#ff7e5a;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color:#ff7e5a;
    color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

.updateButton{
    width: 100%;
    background-color:#ff7e5a;
    color: white;
    border:4px double whitesmoke ;
}

.updateButton:hover{
    background-color: #ff898a;
    text-shadow: 0 0 2px white;
}