<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <request-character-encoding>UTF-8</request-character-encoding>
    <response-character-encoding>UTF-8</response-character-encoding>
    <display-name>TechnoGrad</display-name>

    <welcome-file-list>
        <welcome-file>\WEB-INF\jsp\general\login.jsp</welcome-file>
    </welcome-file-list>

    <!--============================================================
      Controller
      =============================================================-->

<!--    <servlet>-->
<!--        <servlet-name>Controller</servlet-name>-->
<!--        <servlet-class>com.technograd.technograd.web.Controller</servlet-class>-->
<!--    </servlet>-->

<!--    <servlet-mapping>-->
<!--        <servlet-name>Controller</servlet-name>-->
<!--        <url-pattern>/controller</url-pattern>-->
<!--    </servlet-mapping>-->

    <!--============================================================
    Encoding support filter
    =============================================================-->

     <filter>
      <filter-name>EncodingFilter</filter-name>
      <filter-class>com.technograd.technograd.web.filter.EncodingFilter</filter-class>
      <init-param>
          <param-name>encoding</param-name>
          <param-value>UTF-8</param-value>
      </init-param>
  </filter>

  <filter-mapping>
      <filter-name>EncodingFilter</filter-name>
      <url-pattern>/WEB-INF/jsp/*</url-pattern>
      <servlet-name>Controller</servlet-name>
  </filter-mapping>
    <!--============================================================
	Security filter
    =============================================================-->

  <filter>
      <filter-name>SecurityFilter</filter-name>
      <filter-class>com.technograd.technograd.web.filter.SecurityFilter</filter-class>
      <init-param>
          <param-name>manager</param-name>
          <param-value>getSendReportPage sendReport viewCategories createCategory deleteCategory updateCategory
              searchCategories viewCompanies createCompany deleteCompany updateCompany searchCompanies
              viewCharacteristics createCharacteristic deleteCharacteristic updateCharacteristic searchCharacteristics
              viewAdminPanel viewSending viewCurrentSending updateProductCountInIntendAsAdmin changeCondition getSendReportPage sendReport
          </param-value>
      </init-param>
      <init-param>
          <param-name>customer</param-name>
          <param-value>addToCart viewCart updateProductCountInCart deleteFromCart registerIntend
              viewProfilePage viewCurrentIntend turnIntendBack
          </param-value>
      </init-param>
      <init-param>
          <param-name>out-of-control</param-name>
          <param-value>noCommand changeLanguage noCommand loginPage registerPage loginCommand logout
              getChangePasswordPage sendConfirmationLink changePasswordCommand registerCommand viewMenu
              viewProductPage
          </param-value>
      </init-param>
  </filter>

  <filter-mapping>
      <filter-name>SecurityFilter</filter-name>
      <servlet-name>Controller</servlet-name>
  </filter-mapping>

    <listener>
        <listener-class>com.technograd.technograd.web.listener.ContextListener</listener-class>
    </listener>

    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/WEB-INF/jsp/error_page.jsp</location>
    </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/jsp/error_page.jsp</location>
    </error-page>
</web-app>